@import "reset.css";

body {}

.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 3px;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-quarter {
    margin: 0px 5px;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.6;
}

.welcome-header__btn {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.welcome-header__column {
    border: none;
    font-size: 18px;
    padding: 15px 0px;
}

.welcome-header__column:nth-child(2) {
    margin-bottom: 25px;
}